.table-box {
  border:  1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  max-width: 10000px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Tahoma', sans-serif;
  direction: rtl;
  background:linear-gradient(#d6a2d2, #c6a2d6, rgba(158, 171, 232, 0.82));
}
